dist: xenial
language: scala
before_install: sudo jdk_switcher use oraclejdk8 && sudo apt-get install scala
scala:
   - 2.11.11
script: scala -version; ./gradlew buildDependents && (bash bin/test.sh; find . -name '*.log' -o -name '*.err' | sed -e 's/\(.*\)/echo \1; cat \1/' | sh)
