language: scala

jdk:
  - oraclejdk8

scala:
  - 2.11.11

before_install:
  - wget https://downloads.lightbend.com/scala/2.11.12/scala-2.11.12.tgz
  - tar xzf scala-2.11.12.tgz
  - PATH=${PATH}:scala-2.11.12/bin

script:
  - scala -version
  - ./gradlew buildDependents
  - bash bin/test.sh
  - find . -name '*.log' -o -name '*.err' | sed -e 's/\(.*\)/echo \1; cat \1/' | sh
